{{ block "index" .  }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gavin Holmes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <link href="/static/css/index.css?v=g" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ .AvatarUrl }}">
        <meta property="og:title" content="Gavin Holmes">
        <meta property="og:description" content="{{ .Text }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://gavrh.com/">
        <meta property="og:image" content="{{ .AvatarUrl }}">
        <meta property="og:image:type" content="image/png">
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                window.history.replaceState({}, "", "/")
            })
        </script>
    </head>
    <body id="body">
        <div class="container">

            <h1 style="margin-top: 10%;">
                # {{ .Consts.Name }}
            </h1>
            <div class="links">
                {{ range .Consts.Socials }}
                <a href="{{ index . 1 }}" target="_blank">[{{ index . 0 }}]</a>
                {{ end }}
            </div>
            <p>
                {{ .Text }}
            </p>

            <div class="space"></div>

            <h2>
                ## experience
            </h2>
            <ul>
                {{ range .Consts.Experience }}
                <li>
                    <a
                        style="color: #4b4e57; font-weight: 600;"
                    >
                        {{ index . 0 }}
                    </a>
                    @
                    <a
                        {{ if index . 2 }}
                        href="{{ index . 2 }}" target="_blank"
                        {{ end }}
                    >
                        {{ index . 1 }}
                    </a>
                    
                    (<span style="font-weight: 600;">{{ index . 3 }}</span>
                    -
                    <span style="font-weight: 600;">{{ index . 4 }}</span>)
                </li>
                {{ end }}
            </ul>

            <div class="space"></div>

            <h2>
                ## projects
            </h2>
            <ul>
                {{ range .Repos }}
                <li>
                    <div class="li-item">
                        <a href="{{ .Href }}" target="_blank">
                            {{ .Name }}
                        </a>
                        - {{ .Description }}
                        <!--
                        (<div class="lang-blob" style="background-color: #F34B7D;"></div>
                        <span style="font-weight: 600;">{{ .Language }}</span>)
                        -->
                    </div>
                </li>
                {{ end }}
            </ul>

            <div class="space"></div>

            <h2>
                ## blog
            </h2>
            <p>coming soon...</p>

            <div class="space" style="flex: 1;"></div>

            <p>© All rights reserved {{ .Year }}</p>

            <div class="space"></div>

        </div>
    </body>
</html>
{{ end }}
